<br>
<h2>Admin Dashboard</h2>

<div class="widgetContainer">
  <div class="widget">
    <span>Total products in the jungle</span>
    <h4> <%=  @products_length %></h4>
  </div>
  <div class="widget">
    <span>Total orders placed in the jungle</span>
    <h4> <%=  @orders_length %></h4>
  </div>
</div>